/* General styles */

.site-content {
    min-width: 320px;
}

.entryname {
	overflow: hidden;
  	text-overflow: ellipsis;
	width:30px;
}

table.stickytable thead {
    border-top: none;
    border-bottom: none;
    background-color: #FFF;
}

div#businessHoursContainer {
    min-height: 100px;
}

/* Mobile styles */

@media (max-width: 1200px){
	.responsive-invisibility {
	  display: none !important;
	  tr& { display: none !important; }
	  th&,
	  td& { display: none !important; }
	}
}

.toogleCategory {
	cursor: pointer;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
  	top:10px;
    position: static;
  	width:228px;
  }
  
  #sidebar.affix {
  	top:10px;
    position: fixed;
    width:228px;
  }
}

#sidebar li.active {
  border:0 #eee solid;
  border-right-width:5px;
}



.toogleCategory td {
	padding-left:10px;
}

#demandlist-table th {
	padding-left:10px;
}

#demandlist-table h3 {
	font-size:18px;
}

.nav>li>a {
	padding:5px;
}